@media (min-width:992px) {
  .col-lg-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
}

@media (min-width:768px) {
  .masthead .intro-body .intro-text {
    font-size: 22px;
    /*display: flex;*/
    /*justify-content: center;*/
  }
}

